.service-section {
  border-bottom: 1px solid var(--primary-color);

  &__header {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    margin: 0;
    font-size: 50px;
    font-weight: 600;
    line-height: 120%;
    border-bottom: 1px solid var(--primary-color);
  }

  &__image {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid var(--primary-color);
  }

  &__service-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 1px solid var(--primary-color);
  }

  &__service {
    margin-bottom: 24px;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
  }

  &__service-header {
    margin-bottom: 16px;
    font-size: 50px;
    font-weight: 600;
    line-height: 120%;

    &--secondary {
      color: #fff;
    }
  }

  &__service-text {
    margin-bottom: 64px;
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;

    &--secondary {
      color: #fff;
    }
  }

  &__service-hero {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(./images/service-wedding.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #c4c4c4;
  }
  &__service-hero-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
