.reviews-section {
  border-bottom: 1px solid var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__review-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
  }

  &__header {
    font-size: 50px;
    font-weight: 600;
    line-height: 120%;
    margin-top: 0;
  }

  &__slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    max-width: 1280px;
    width: 100%;
    height: auto;
  }

  &__slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__slide-text {
    text-align: center;
    margin: 0;
    font-size: 28px;
    font-style: italic;
    font-weight: 400;
    line-height: 120%;
  }

  &__slide-reviewer {
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    margin-top: 16px;
  }

  &__button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
