.button {
  height: 56px;
  padding: 16px 24px;
  background-color: var(--primary-color);
  color: #fff;
  user-select: none;
  outline: none;
  border: 1px solid transparent;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  transition-property: color, background-color;

  &:hover {
    background-color: var(--dark-gray-color);
  }

  &:active {
    background-color: var(--primary-color);
  }

  &:focus {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px var(--primary-color);
  }

  &[disabled] {
    color: var(--gray-color);
    background-color: var(--light-gray-color);
  }

  &--secondary {
    background: none;
    color: var(--primary-color);
    border-color: var(--primary-color);

    &:hover {
      background-color: var(--primary-color);
      color: #fff;
    }

    &:active {
      background: none;
      color: var(--primary-color);
    }

    &[disabled] {
      background: none;
      border-color: var(--light-gray-color);
      color: var(--gray-color);
    }
  }

  &--tertiary {
    background: none;
    border-color: #fff;
    color: #fff;

    &:hover {
      background-color: #fff;
      color: var(--dark-gray-color);
    }

    &:active {
      background-color: #fff;
      color: var(--primary-color);
    }

    &:focus {
      box-shadow: 0 0 0 2px var(--body-color), 0 0 0 4px #fff;
    }

    &[disabled] {
      background: none;
      color: var(--gray-color);
    }
  }
}
