.contacts-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 1px solid var(--primary-color);

  &__title {
    font-size: 50px;
    font-weight: 600;
    line-height: 120%;
    margin: 0;
    margin-bottom: 24px;
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__form-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    color: var(--body-color);
    margin-bottom: 16px;
  }

  &__input {
    margin-right: 16px;
    height: 56px;
    border-radius: 4px;
    border: 1px solid rgba(128, 128, 128, 1);
    padding: 16px;
    transition: color var(--animation-duration),
      background-color var(--animation-duration);
    &::placeholder {
      font-size: 14px;
      font-weight: 500;
      line-height: 120%;
      color: #808080;
      padding: 16px;
    }
    &:hover {
      background-color: var(--primary-color);
      color: #ffffff;
    }
  }
  &__form-button {
    height: 56px;
    padding: 16px 24px;
    background-color: var(--body-color);
    color: rgba(255, 255, 255, 1);
    transition: color var(--animation-duration),
      background-color var(--animation-duration);

    &:hover {
      background-color: #ffffff;
      color: var(--primary-color);
    }
  }

  &__contacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__contacts-title {
    font-size: 38px;
    font-weight: 500;
    line-height: 120%;
    color: var(--body-color);
    border-bottom: solid 1px var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    // padding-top: 16 px;
    padding: 16px;
  }

  &__contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    gap: 24px;
  }

  &__contacts-description {
  }

  &__contact-block {
    border: 1px solid var(--primary-color);
  }

  &__social-link-wrapper {
    display: flex;
  }

  &__social {
    border-left: 1px solid var(--primary-color);
  }
}
