.contacts-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 1px solid var(--primary-color);

  &__wrapper {
    display: grid;
  }

  &__title {
    font-size: 50px;
    font-weight: 600;
    line-height: 120%;
    margin: 0;
    margin-bottom: 24px;
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__form-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    color: var(--body-color);
    margin-bottom: 16px;
  }

  &__input {
    margin-right: 16px;
  }

  &__contacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-top: 1px solid var(--primary-color);
    height: 100%;
  }

  &__contacts-title {
    font-size: 38px;
    font-weight: 500;
    line-height: 120%;
    color: var(--body-color);
    border-bottom: solid 1px var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 16px;
  }

  &__contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 138px 24px;
    gap: 24px;
  }

  &__contacts-item {
    font-size: 16px;
    display: flex;
    align-items: center;
    line-height: 120%;
    letter-spacing: 0.4px;
    color: rgba(18, 18, 18, 1);
  }

  &__contact-block:first-child {
    border-right: 1px solid var(--primary-color);
  }

  &__call-icon {
    fill: currentColor;
  }

  &__image {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__about {
    border-left: 1px solid var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__social {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__social-wrapper {
    padding: 40px 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:not(:last-child) {
      border-right: 1px solid var(--primary-color);
    }
  }

  &__social-text {
    font-size: 38px;
    font-weight: 500;
    line-height: 120%;
  }

  &__social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }

  &__social-link {
    fill: var(--primary-color);
    display: block;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    transition-property: transform;

    &:hover {
      transform: scale(1.5);
    }
  }
}
