@import 'normalize.css';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import './fonts';
@import './variables';
@import './swiper';

* {
  box-sizing: border-box;
}

body {
  font: 400 14px/1.5 'Gilroy', sans-serif;
  color: var(--body-color);
  border: 1px solid var(--primary-color);
}

img {
  vertical-align: middle;
  max-width: 100%;
}

button,
select {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: var(--body-color);

  &:hover {
    text-decoration: underline;
  }
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  padding: 80px;
}

.separator {
  border-bottom: 1px solid var(--primary-color);
  margin: 25px 0;
}

.title {
  font-size: 38px;
  font-weight: 500;
  line-height: 120%;
}

.section-title {
  font-size: 50px;
  font-weight: 600;
  line-height: 120%;
}

.touppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 600;
}

.w-full {
  width: 100%;
}
